@charset "utf-8";
/* CSS Document */

#notepad {
	
}

textarea {
	height:500px;
	width:300px;	
	float:left;
	padding: 20px;
	margin:10px;
}

#buttons {
	display:inline-block;
	background-color:lightblue;
	padding: 10px;
	margin:5px;
}

#buttons:hover {
	background-color:grey;
	cursor:pointer;
}

ol {
	text-decoration:none;
	float:left;
}

ul {
	text-decoration:none;
	float:left;
}

li {
	padding:10px;
	border-bottom:solid;
	border-color:black;
	border-width:thin;
}

a:hover {
	background-color:grey;
}

a:click {
	background-color:darkgrey;
}

