!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      .gameinfo {text-align:left;}
%div.span-16.gameinfo
  %h2.dink Course Updates
  =RedCloth.new(@current_game.information).to_html.html_safe

