
!!!
%html
  %body
    %h2{:style => "text-align: left;"}
      Click on the button to Redirect to the KSL reservation system. Note you will be leaving this website
    %form{:action => "http://case.libcal.com/booking/collaborationrooms", :method => "get"}
      %input#frm1_submit{:name => "Submit", :type => "submit", :value => "Go to the resrervation system"}/


