@charset "utf-8";
\/* CSS Document */

\#calculator {
background-color:lightblue;
box-shadow:5px 5px 5px #555555;
border:thick;
font-size:40px;
}

\.calculator-screen {
background-color:white;
padding:30px;
border-width:medium;
}

\.calculator-buttons-numbers {
background-color:lightblue;
border:thin;
padding: 5px 5px;
}

\#C {
background-color:skyblue;
}

\#C:hover {
background-color:white;
}

\#eq {
background-color:skyblue;
}

\#eq:hover {
background-color:white;
}

\.calculator-buttons-numbers a {
display:inline-block;
padding: 10px;
cursor:pointer;
}

\.calculator-buttons-numbers a:hover {
background-color:white;
}

\.calculator-buttons-ops {
background-color:#056C6E;
box-shadow:0px 0px 0px 2px grey;
border:thin;
padding: 5px 5px;
}

